	    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
		{% if post.author.profile_pic %}
		<img src="{{ post.author.profile_pic }}">
		{% else %}
                    <img src="{{ post.author.avatar(70) }}" />
		{% endif %}
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
		 said {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ post.body }}
		<br>
		{% if post.image_file %}	
			<img src="{{ post.image_file }}">
		{% endif %}
		<br>
		{% if user %}
		<p>likes:{{ post.likes_received.count() }}</p>
		{% if not post.is_liking(user) %}
        <p><a href="{{ url_for('likes', post_id=post.id) }}">like</a></p>
		{% else %}
			<p>Liked</p>
		{% endif %}
		{% endif %}
            </td>
        </tr>
</table>
